<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo_cabezal.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        La desigualdad y la pobreza es un problema en Uruguay, se pueden medir, estudiar y analizar sus consecuencias, con el objetivo de diseñar mejores políticas públicas
      </p>
    </div>
  </div>
 

  <br>IECON 2017,
  <br>El Grupo de Desigualdad y Pobreza
</section>
