<section>
 
    <!--<div class="row">
      <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo_cabezal.png" />
      </div>
    </div>
    <br>-->
    <div class="jumbotron text-center">
    <div class="row">
      <p class="lead">
        La desigualdad y la pobreza es un problema en Uruguay, se pueden medir, estudiar y analizar sus consecuencias, con el objetivo de diseñar mejores políticas públicas.
      </p>
      <div class="col-lg-12">
        <img class="img-responsive" src="modules/core/client/img/content/inequality.png">
      </div>
    </div>
    <br>
    <div class="row">
      <!--si cambiamos padding left y right y seteamos en 0 las columnas se acercan-->
      <div class="col-xs-6 col-sm-3">
        <a ui-sref="me">
          <img class="img-responsive img-saturate" src="modules/core/client/img/content/512a.png" alt="Yo">
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">    
        <a ui-sref="inequality">  
          <img class="img-responsive img-saturate" src="modules/core/client/img/content/512-2a.png"  alt="Desigualdad">
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a ui-sref="poverty">
          <img class="img-responsive img-saturate" src="modules/core/client/img/content/512-3a.png"  alt="Pobreza">
        </a>
      </div>
      <div class="col-xs-6 col-sm-3">
        <a ui-sref="politics" >
          <img class="img-responsive img-saturate" src="modules/core/client/img/content/512-4a.png" alt="Políticas públicas">
        </a>
      </div>
    </div>
    </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-12">
      IECON 2017,
      <br>
      El Grupo de Desigualdad y Pobreza
    </div>
    <div class="col-xs-4 col-sm-4 col-lg-2">
      <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo_cabezal.png" />
      <br>
      <br>
    </div>
    
  </div>
</section>
