
<section >
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
       <p><a href="http://bl.ocks.org/simzou/6459889">mapa1</a> y <a href="http://bl.ocks.org/NPashaP/a74faf20b492ad377312">mapa2</a></p>
       <p><a href="https://jsfiddle.net/gh/get/library/pure/highslide-software/highcharts.com/tree/master/samples/mapdata/countries/uy/uy-all">UY mapa</a></p>
     </div>
     <div class="col-xs-12 col-md-12 col-lg-12">
       <p><a href="http://bl.ocks.org/mbostock/3943967">bars</a></p>
     </div>
     <div class="col-xs-12 col-md-12 col-lg-12">
       <p><a href="http://bl.ocks.org/NPashaP/3ba0031d3d555afca4713e5264455025">interesante</a></p>
     </div>

     <div class="col-xs-12 col-md-12 col-lg-12">
       <p><a href="https://bl.ocks.org/mbostock/34f08d5e11952a80609169b7917d4172">linea de tiempo</a></p>
     </div>

      <div class="col-xs-12 col-md-12 col-lg-12">
       <p><a href="http://mbostock.github.io/d3/talk/20111116/iris-parallel.html">varias variables conectadas</a></p>
     </div>
     <div class="col-xs-12 col-md-12 col-lg-12">
       <p><a href="http://bl.ocks.org/Caged/6476579">bars-2</a></p>
     </div>


     
     

     
  </div>

  
</section>


