
<section >
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <p> aca va d3</p>
    </div>
  </div>
  <!--<div class="row text-center">
   <div class="col-xs-12 col-md-12 col-lg-12">
     <img class="img-responsive" src="modules/core/client/img/content/me.jpg" alt="Yo">
   </div>
  </div>  -->
   <div class="row text-center">
   <div class="col-xs-12 col-md-12 col-lg-12">
     <svg id="vizMe">
      <!--<defs>
        <pattern id="me" height = "100%" width = "100%" patternContentUnits = "objectBoundingBox">
          <image xlink:href="modules/core/client/img/content/me.png" preserveAspectRatio = "none" width = "1" height = "1"></image>
        </pattern>
        <pattern id="skin" height = "100%" width = "100%" patternContentUnits = "objectBoundingBox">
          <image xlink:href="modules/core/client/img/content/skin.png" preserveAspectRatio = "none" width = "1" height = "1"></image>
        </pattern>
        <pattern id="age" height = "100%" width = "100%" patternContentUnits = "objectBoundingBox">
          <image xlink:href="modules/core/client/img/content/age.png" preserveAspectRatio = "none" width = "1" height = "1"></image>
        </pattern>
        <pattern id="department" height = "100%" width = "100%" patternContentUnits = "objectBoundingBox">
          <image xlink:href="modules/core/client/img/content/department.png" preserveAspectRatio = "none" width = "1" height = "1"></image>
        </pattern>
        <pattern id="gender" height = "100%" width = "100%" patternContentUnits = "objectBoundingBox">
          <image xlink:href="modules/core/client/img/content/gender.png" preserveAspectRatio = "none" width = "1" height = "1"></image>
        </pattern>
        <pattern id="books" height = "100%" width = "100%" patternContentUnits = "objectBoundingBox">
          <image xlink:href="modules/core/client/img/content/books.png" preserveAspectRatio = "none" width = "1" height = "1"></image>
        </pattern>
      </defs>
      <circle id='circle-me' cx="365" cy="300" r="138" fill="url(#me)"/>-->

      <!--<circle id='circle-skin' cx="436" cy="518" r="80" fill="url(#skin)"/>
      <circle id='circle-age' cx="178" cy="435" r="80" fill="url(#age)"/>
      <circle id='circle-department' cx="178" cy="164" r="80" fill="url(#department)"/>
      <circle id='circle-gender' cx="436" cy="81" r="80" fill="url(#gender)"/>
      <circle id='circle-books' cx="595" cy="299" r="76" fill="url(#books)"/>-->

    </svg>
   </div>
  </div>  

  
</section>


